# hidden files and folders.
*.cache
*.mo
*.egg-info
*.egg
*.EGG
*.EGG-INFO
*.installed.cfg
*.mr.developer.cfg
*.hg
*.bzr
*.svn
*.pyc
*.pyd
*.pyo
*.so
*.tmp*
*.tox
*.coverage*
*.DS_Store
*.bak
*.bzrignore
*.hgignore
*.lck
*.LCK

# visible files and folders.
bin
build
develop-eggs
downloads
eggs
fake-eggs
parts
dist
docs/_build/
htmlcov
